.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureCard {
  display: block;
  text-decoration: none !important;
  color: inherit;
  height: 100%;
}

.featureCard:hover {
  text-decoration: none;
  color: inherit;
}
